// =============================================================================
// Date Created:   05/12/2019
// Created By:     Salaah Amin
// =============================================================================
// Contains the styling for componenets on the home page (index).
//
// RESPONSIVENES
// -------------
// -
// =============================================================================

// -----------------------------------------------------------------------------
.index-grid {
    // Grid of 4 images in the index page
    display: grid;
    grid-template-rows: 1fr repeat(2, 35rem);
    grid-template-columns: repeat(2, [col-start] minmax(min-content, 1fr) [col-end]);
    gap: 1.5rem 1.5rem;
    padding: 5.5rem 15rem;
    background-color: $colour-grey-light-1;

    &__description {
        grid-column: 1 / -1;
    }

    &__container {
        overflow: hidden;
        position: relative;
        border-radius: 10px;
        box-shadow: $colour-grey-light-4 0 5px 20px 1px;
        
        &__header {
            position: absolute;
            z-index: 10;
            padding: 2rem;
            transform: translateX(-50%);
            padding-left: calc(50% + 2rem);
            color: $colour-white-1;
            transition: transform .75s;

            &::before {
                content: "";
                position: absolute;
                width: 200%;
                height: 6rem;
                left: -3rem;
                top: 1.5rem;
                background-image: linear-gradient(45deg, rgba(0, 0, 0, 0.23), transparent);
                z-index: -5;
                
            }

        }

        &__img {
            position: absolute;
            z-index: 5;
            left: 0;
            top: 0;
            background-size: cover;
            width: 100%;
            height: 100%;
            object-fit: cover;
            display: block;
            transition: all .75s ease-out;
        }

        &:hover > a > &__img {
            transform: scale(1.05);
            filter: brightness(0.85) blur(4px);
        }

        &:hover > a > &__header {
            padding: 2rem;
            font-size: 5rem;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            text-align: center;
            width: 100%;

            &::before {
                background-image: none;
            } 
        }

    }
}