// =============================================================================
// Date Created:   24/12/2019
// Created By:     Salaah Amin
// =============================================================================
// Styling for the search page.
// Includes styling for the individual product pages.
//
// RESPONSIVENESS
// >760px:        .product-showcase containing the showcase image and the
//                basic product information are placed side by side.
// <= 760px:      .product-showcase containing the showcase image and the basic
//                product information are stacked onto top of one another.
// =============================================================================

// =============================================================================
header.single-product-header {
  @include padSection;
  padding-bottom: 0;
  padding-left: 20rem;

  @include mediaQuery(1400) {
    padding-left: 15rem;
  }

  @include mediaQuery(1200) {
    padding-left: 8rem;
  }

  @include mediaQuery(1000) {
    padding-bottom: 0;
  }

  @include mediaQuery(1050) {
    padding-left: 3rem;
  }

  @include mediaQuery(500) {
    text-align: center;
  }

  .product-name {

    @include mediaQuery(600) {
      font-size: 4rem;
    }

    @include mediaQuery(500) {
      font-size: 3.5rem;
    }

    @include mediaQuery(400) {
      font-size: 3rem;
    }

    @include mediaQuery(600) {
      font-size: 2.5rem;
    }
  }

  .product-store-name {
    color: $colour-secondary-dark-1;
    font-size: 2rem;
    outline: none;
    text-decoration: none;
    transition: all 0.3s ease;

    @include mediaQuery(400) {
      font-size: 1.6rem;
    }

    &:hover {
      color: $colour-secondary-high-sat;
    }
  }
}

// =============================================================================
// Main tag for the contents on the product page.
.single-product {
  // gap in .product-showcase is 2rem.
  padding-left: 20rem;
  padding-right: 22rem;
  padding-top: 2rem;

  @include mediaQuery(1400) {
    padding-left: 15rem;
    padding-right: 21rem;
  }

  @include mediaQuery(1200) {
    // gap in .product-showcase is 2rem.
    padding-left: 8rem;
    padding-right: 10rem;
  }

  @include mediaQuery(1050) {
    // gap in .product-showcase is 2rem.
    padding-left: 3rem;
    padding-right: 5rem;
  }

  @include mediaQuery(500) {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

// =============================================================================
// Top section of the page which contains the images along basic information
// and add to basket button.
// User's main focus should be here.
.product-showcase {
  display: grid;
  // fallback incase "totalThumbs" attribute does not load.
  grid-template-columns: 60% 40%;
  grid-template-rows: max-content;
  grid-auto-rows: auto;
  gap: 2rem;
  margin-bottom: 7rem;

  &__name {
    grid-column: 1/-1;
  }

  // This may be repeat of the media queries outlined below. However, this is
  // a fall back should the JS not work and thus the correct height failing
  // to apply.
  &[totalthumbs="1"],
  &[totalthumbs="2"],
  &[totalthumbs="3"],
  &[totalthumbs="4"],
  &[totalthumbs="5"],
  &[totalthumbs="6"],
  &[totalthumbs="7"] {
    grid-template-columns: 70% 30%;

    @include mediaQuery(960) {
      grid-template-columns: 60% 40%;
    }

    @include mediaQuery(800) {
      grid-template-columns: 55% 45%;
    }

    @include mediaQuery(760) {
      grid-template-columns: 100%;
      gap: 1rem;
    }

    @include mediaQuery(530) {
      gap: .5rem;
    }
  }

  &[totalthumbs="2"],
  &[totalthumbs="3"],
  &[totalthumbs="4"],
  &[totalthumbs="5"],
  &[totalthumbs="6"],
  &[totalthumbs="7"] {
    grid-template-rows: 125%;
    margin-bottom: 15rem;

    @include mediaQuery(760) {
      grid-template-rows: auto;
      margin-bottom: 0;
    }
  }

  &[totalthumbs="5"],
  &[totalthumbs="6"],
  &[totalthumbs="7"] {

    @include mediaQuery(1706) {
      grid-template-rows: 140%;
      margin-bottom: 24rem;
    }

    @include mediaQuery(760) {
      grid-template-rows: auto;
      margin-bottom: 0;
    }
  }

  // -------------------------------------------------------------------------
  // Each of the sections (2 in total) of main showcase containing.
  &__section {
    padding: 4rem 5rem;
    box-shadow: $box-shadow-2;
    border-radius: 5px;

    @include mediaQuery(760) {
      padding: 3rem;
    }

    &--lhs {
      // The left hand side of the showcase container (left section)
      @include mediaQuery(760) {
        margin-bottom: 2rem;
      }
    }

    &--rhs {
      // The right hand side of the showcase container (right section)
      height: 100%;
      display: grid;
      grid-template-columns: repeat(4, 25%);
      grid-auto-rows: max-content;
      gap: 1rem;
      justify-content: center;
      align-self: center;
      align-content: center;
    }

    // ---------------------------------------------------------------------
    // Items in the first of the two sections. Located on the LHS.
    &__img-container {
      // The image container on the LHS containing the images and the
      // alternative colour buttons.

      &__img {
        // Main image on in the section showing an image of the product.
        object-fit: cover;
        width: 55rem;
        height: 35rem;
        cursor: pointer;
      }

      &__alt-colours {
        // Contains the alternative colours in which a product is
        // available in.
        cursor: pointer;
      }
    }

    // ---------------------------------------------------------------------
    // Items on the second of the two sections.
    // These elements are located on the RHS of the page.
    &__price {
      color: $colour-primary;
      padding-bottom: 1rem;
      justify-self: start;
      grid-column: 1/-1;
      padding-bottom: 0;
      margin-bottom: 0;
    }

    &__ratings {
      display: flex;
      justify-content: space-between;
      grid-column: 1/-1;
      margin-bottom: 3rem;
      margin-top: -1rem;

      @include mediaQuery(1280) {
        flex-direction: column;
        justify-content: initial;
      }

      &__stars {
        margin-right: 1rem;

        @include mediaQuery(1280) {
          margin-bottom: 0.5rem;
        }
      }
    }

    &__description {
      // Short description of the product, place in the third row.
      grid-column: 1/-1;
      margin-bottom: 2rem;

      @include mediaQuery(842) {
        margin-bottom: 3rem;
      }

      @include mediaQuery(760) {
        margin-bottom: 5rem;
      }

      @include mediaQuery(500) {
        margin-bottom: 3rem;
      }
    }

    &__quantity {
      // Input element for choosing number of products to add to the
      // basket. Placed on the fourth row on the first column
      // alongside the add to basket button.
      display: flex;
      justify-content: flex-end;
      margin-right: 0;
      grid-column: 1/-1;
      justify-self: center;

      &__btn,
      &__input {
        border: 1px solid $colour-grey-light-4;
      }

      &__btn {
        color: $colour-primary;
        transition: all 0.3s ease;

        &:not([disabled="disabled"]):hover {
          background-color: $colour-primary;
          color: #fff;
        }
      }

      &__input {
        color: $colour-grey-dark-1;
      }
    }

    &__colours {
      // Options for user to choose alternative colours
      display: flex;
      align-items: flex-end;
      justify-content: flex-start;
      margin-left: 0;
      grid-column: 1/-1;
      justify-content: center;
      justify-self: center;
      margin-bottom: 1.5rem;
      width: 50%;
      padding-top: 0;

      .dropdown-menu {
        // .dropdown-menu is a component, the purpose of the styling
        // here is to overwrite the inherited styling.
        width: 17rem;

        > * {
          // width = the width of the quantity element
          width: 17rem;
          font-size: 1.5rem;
          border-radius: 0;
          background-color: $colour-grey-light-4;
          border: 1px solid $colour-grey-light-3;
        }

        &__selected {
          color: $colour-grey-dark-1;

          &:hover {
            background-color: rgba(0, 0, 0, 0.1);
          }
        }

        &__options {
          &__label {
            // In the main component, label is treated as if it is
            // added to a "label" tag, however on the product page
            // it is added to an "a" tag.
            color: $colour-grey-dark-1;
            text-decoration: none;
          }
        }

        .sm-colour-box {
          width: 1.2rem;
          height: 1.2rem;
          display: inline-block;
          transform: translateY(1.5px);
          margin-right: 1rem;
          border-radius: 2px;
        }
      }
    }

    &__basket-add {
      // button element placed on the 4th row on the 2nd column
      // next to the quantity input element.
      grid-column: 1/-1;
      justify-self: center;
      align-self: start;
      min-width: 60%;

      @include mediaQuery(842) {
        margin-top: 0;
      }

      & > i {
        margin-right: 1rem;
      }
    }

    &__delivery-opts {
      // Contains delivery options, placed on the final row.
      grid-column: 1/-1;
    }
  }
}

// =============================================================================
// Section contains related products consisting of other products which together
// make up a set with the product and similar products.
// Placed in between the showcase section and the product information section.
.related-products {
  margin-top: 5rem;
  margin-bottom: 5rem;
  padding-top: 4rem;
  border-top: 10px solid rgba($colour-grey-light-3, 0.2);

  &__container {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 10rem;

    @include mediaQuery(500) {
      justify-content: center;
    }
  }

  &__title {
    display: block;
    width: 100%;
    margin-bottom: 4rem;
    color: $colour-secondary;
  }
}

// =============================================================================
.related-product {
  // Child of .replated-products
  display: flex;
  flex-direction: column;
  text-align: center;
  text-decoration: none;
  justify-content: stretch;
  margin-right: 2rem;

  @include mediaQuery(500) {
    margin-bottom: 2rem;
  }

  @include mediaQuery(400) {
    width: 40%;
  }

  @include mediaQuery(300) {
    width: 100%;
  }

  &:first-of-type {
    margin-bottom: 4rem;
  }

  &__img {
    width: 15vw;
    height: 12vw;
    border-radius: 5px;
    box-shadow: 2px 3px 10px 1px rgb(102, 102, 102);
    transition: all 0.3s ease;
    object-fit: cover;

    @include mediaQuery(1300) {
      width: 20vw;
      height: 15vw;
    }

    @include mediaQuery(1000) {
      width: 25vw;
      height: 17vw;
    }

    @include mediaQuery(450) {
      width: 30vw;
      height: 19vw;
    }

    @include mediaQuery(400) {
      width: 100%;
      height: 23vw;
    }

    @include mediaQuery(300) {
      height: 50vw;
    }

    &:hover {
      filter: brightness(1.2);
      transform: scale(1.02);
    }
  }

  &__name {
    color: $colour-secondary;
    margin-top: 2rem;
    font-weight: 600;
  }

  &__price {
    color: $colour-grey-dark-1;
  }
}

// =============================================================================
// The bottom part of the page which contains more detailed information on
// each product.
.product-info {
  // Main container
  display: grid;
  grid-template-columns: repeat(2, 50%);
  padding-left: 20rem;
  padding-right: 20rem;
  gap: 5rem;
  justify-content: center;

  @include mediaQuery(1400) {
    padding-left: 15rem;
    padding-right: 15rem;
  }

  @include mediaQuery(1200) {
    padding-left: 8rem;
    padding-right: 8rem;
  }

  @include mediaQuery(1000) {
    padding-bottom: 0;
  }

  @include mediaQuery(1050) {
    padding-left: 3rem;
    padding-right: 3rem;
  }

  & > * {
    margin-bottom: 4rem;
  }

  &__section {
    // Each sub-section in .product-info.

    &__title {
      // Title for each sub-section.
      color: $colour-secondary;
      border-bottom: 1px solid $colour-secondary;
      padding-bottom: 1rem;
      margin-bottom: 1rem;
    }

    &__sub-heading {
      // Contains the name and ratings of the store.
      display: flex;

      &__store-name {
        margin-right: 20rem;
        display: inline-block;
      }

      // Overriding the ratings component.
      .product-info__section__ratings {
        display: flex;
        align-items: center;

        .ratings__stars {
          margin-right: 1rem;
        }
      }
    }

    &__text-block {
      // Contains a block of text at each sub section.
    }

    &__text {
      // Text contained within a text block.
      line-height: 1.75em;
    }

    &[for="product-description"],
    &[for="product-reviews"] {
      text-align: justify;
    }

    &[for="product-size"],
    &[for="product-features"] {
      @include mediaQuery(500) {
        text-align: center;
        grid-column: 1/-1;
      }
    }
  }
}
