// =============================================================================
// Date Created:   06/12/2019
// Created By:     Salaah Amin
// =============================================================================
// Styling for .table elements and child elements.
//
// HTML
// ────
// The following HTML structure is as such:
// .table
// │
// └───── .table__header
// │      │
// │      └───── .table__header__title
// │      │      │
// │      │      └───── .table__header__heading
// │      │      └───── .table__header__sub-heading
// │      │
// │      └───── .table__header__column-titles
// │             │
// │             └───── .table__header__column-titles-title
// │
// │
// └───── .table__rows
//        │
//        └───── .table__row
//               │
//               └───── .table__field
//
// An example HTML is the following:
//
// <section class="table">
//   <div class="table__header">
//     <div class="table__header__title">
//       <h1 class="table__header__title__heading">{main table heading}</h1>
//       <p class="table__header__title__sub-heading">{table sub-heading}</p>
//     </div>
//   <div class="table__header__column-titles">
//     <p
//       field="{field name}"
//       class="table__header__column-titles__title"
//     >
//       {column title}
//     </p>
//     <p
//       field="{field name 2}"
//       class="table__header__column-titles__title"
//     >
//       {column title 2}
//     </p>
//   </div>
//   <div class="table_rows">
//   <div class="table__rows>
//     <div class="table-row">
//       <{tag} class="table__field" field="{field name}">{text content}</{tag}>
//   </div>
// </section>
//
// OPTIONAL EXTRAS
// ───────────────
// - .table__icon[field="remove-item"]
//      An element which should ideally belong to SPAN.
//      On hover, colour will change to red and could be placed inline with
//      another text element.
// =============================================================================

// =============================================================================
.table {
    // -------------------------------------------------------------------------
    &__icon {
        &[field='remove-item'] {
            padding-left: 1rem;
            padding-right: 1rem;
            transition: all .3s;
            cursor: pointer;

            &:hover {
                color: rgb(255, 0, 0);
            }

            &:active {
                transform: translate(10px 1px);
            }
        }
    }

    // -------------------------------------------------------------------------
    // Table header
    &__header {
        // Heading above .table and column headings.

        &__title {
            // Element is the table title, placed above the table.
            margin-bottom: 5rem;

            &__heading {
                // Main heading for the table.
                margin-bottom: 2rem;
            }

            &__sub-heading {
                // Sub-heading for the table.

            }
        }

        &__column-titles {
            // Table column titles.
            display: flex;
            margin-bottom: 3rem;
            padding-bottom: 2rem;
            border-bottom: 2px solid $colour-secondary;

            &__title {
                // A single table column title.
                width: 20%;
                text-align: center;
                text-transform: uppercase;
            }
        }
    }

    // -------------------------------------------------------------------------
    // Container for all the table data.
    &__rows {

    }

    // -------------------------------------------------------------------------
    // A single row of data in the table.
    &__row {
        display: flex;
        margin-bottom: 2rem;
        align-items: center;
    }

    // -------------------------------------------------------------------------
    // A single field in the table.
    &__field {
        width: 20%;
        text-align: center;

        &--img {
            width: 20rem;
            height: 12rem;
            object-fit: cover;
            border-radius: 5px;
            transition: all .3s ease-out;

            &:hover {
                transform: scale(1.05);
            }
        }

        &[field='quantity'] {
            justify-content: center;
        }

    }


}