.heading-1 {
  font-size: 6rem;
  font-weight: 300;
  letter-spacing: 1.5px;
  color: #315B8A; }

.heading-2 {
  font-size: 2.4rem;
  font-weight: 400;
  color: #5A5F6A; }

.u-center-text {
  text-align: center; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem; }

.u-margin-bottom-medium {
  margin-bottom: 4rem; }

.u-margin-bottom-big {
  margin-bottom: 8rem; }

.u-margin-top-small {
  margin-top: 1.5rem; }

.u-margin-top-big {
  margin-top: 8rem; }

.u-margin-top-huge {
  margin-top: 10rem; }

.hide {
  display: none; }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  font-family: inherit; }

body {
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
  font-size: 1.6rem; }

svg {
  width: 10px;
  height: 10px;
  fill: black; }

.btn-inline {
  border: none;
  border-bottom: 1px solid transparent;
  outline: none;
  font-family: inherit;
  font-weight: inherit;
  color: currentColor;
  background-color: transparent;
  font-size: inherit;
  cursor: pointer;
  display: inline-block;
  transition: all .2s; }
  .btn-inline:hover {
    color: #f47c4a;
    border-bottom: 1px solid #f47c4a; }

.logo__img {
  background-size: cover;
  max-width: 100%;
  max-height: 100%; }

.btn {
  outline: none;
  background-color: transparent;
  border: none;
  font-size: inherit;
  font-family: inherit;
  position: relative;
  cursor: pointer;
  transition: all .2s; }
  .btn--primary {
    background-color: #f47c4a;
    color: white;
    padding: 1rem;
    border-radius: 5px; }

.nav {
  width: 100vw;
  height: 7rem;
  background-color: #fbfbfb;
  display: flex;
  align-items: center;
  justify-content: space-around;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.1); }
  @media only screen and (max-width: 56.25em) {
    .nav {
      flex-wrap: wrap; } }
  @media only screen and (max-width: 37.5em) {
    .nav {
      height: auto;
      flex-direction: column;
      flex-wrap: nowrap;
      align-items: flex-start;
      padding: 2rem 3rem; } }
  .nav__toggle {
    display: none; }
    @media only screen and (max-width: 37.5em) {
      .nav__toggle {
        display: inline-block; } }
    .nav__toggle__checkbox {
      display: none; }
    .nav__toggle__btn {
      background-color: #fbfbfb;
      height: auto;
      width: 8rem;
      position: fixed;
      top: .5rem;
      right: 1rem;
      z-index: 2000;
      text-align: center;
      cursor: pointer; }
    .nav__toggle__icon {
      position: relative;
      margin-top: 3.5rem; }
      .nav__toggle__icon, .nav__toggle__icon::before, .nav__toggle__icon::after {
        width: 3rem;
        height: 2px;
        background-color: #5A5F6A;
        display: inline-block; }
      .nav__toggle__icon::before, .nav__toggle__icon::after {
        content: "";
        position: absolute;
        left: 0;
        transition: all .2s; }
      .nav__toggle__icon::before {
        top: -.8rem; }
      .nav__toggle__icon::after {
        top: .8rem; }
    .nav__toggle__btn:hover .nav__toggle__icon::before {
      top: -1rem; }
    .nav__toggle__btn:hover .nav__toggle__icon::after {
      top: 1rem; }
    .nav__toggle__checkbox:checked + .nav__toggle__btn .nav__toggle__icon {
      background-color: transparent; }
    .nav__toggle__checkbox:checked + .nav__toggle__btn .nav__toggle__icon::before {
      transform: rotate(135deg);
      top: 0; }
    .nav__toggle__checkbox:checked + .nav__toggle__btn .nav__toggle__icon::after {
      transform: rotate(-135deg);
      top: 0; }
  .nav__section {
    display: flex;
    align-items: center; }
    @media only screen and (max-width: 37.5em) {
      .nav__section {
        flex-direction: column; } }
  .nav__logo {
    width: 10rem;
    margin: 1.5rem 2.5rem; }
    @media only screen and (max-width: 37.5em) {
      .nav__logo {
        margin: 0; } }
  .nav #nav-left {
    align-items: center; }
    @media only screen and (max-width: 68.75em) {
      .nav #nav-left {
        justify-content: space-evenly; } }
    @media only screen and (max-width: 56.25em) {
      .nav #nav-left {
        flex: 0 0 50%;
        justify-content: space-around; } }
    @media only screen and (max-width: 37.5em) {
      .nav #nav-left {
        flex: 0 0 50%;
        align-items: flex-start;
        width: 100%; } }
  .nav__option {
    display: flex;
    flex-direction: column;
    font-size: 1.6rem;
    align-items: center;
    position: relative; }
    @media only screen and (max-width: 37.5em) {
      .nav__option {
        display: none; } }
    .nav__option:not(:last-child) {
      margin-right: 1rem; }
    .nav__option__dropdown-opts {
      display: flex;
      flex-direction: column;
      position: absolute;
      top: 100%;
      left: 20%;
      width: max-content;
      background-color: rgba(90, 95, 106, 0.88);
      text-align: center;
      z-index: 10;
      transition: all .2s; }
      .nav__option__dropdown-opts--expand {
        height: auto;
        opacity: 100%; }
      .nav__option__dropdown-opts--collapse {
        height: 0;
        opacity: 0; }
        .nav__option__dropdown-opts--collapse .nav__option__dropdown-opts__opt:link,
        .nav__option__dropdown-opts--collapse .nav__option__dropdown-opts__opt:visited {
          height: 0;
          padding: 0; }
      .nav__option__dropdown-opts__opt:link, .nav__option__dropdown-opts__opt:visited {
        text-decoration: none;
        color: #fbfbfb;
        font-weight: 300;
        padding: 1.5rem 3rem;
        width: 100%; }
        .nav__option__dropdown-opts__opt:link:not(:last-child), .nav__option__dropdown-opts__opt:visited:not(:last-child) {
          margin-bottom: 1rem; }
      .nav__option__dropdown-opts__opt:hover {
        background-color: rgba(90, 95, 106, 0.95); }
      .nav__option__dropdown-opts__opt:active {
        background-color: rgba(90, 95, 106, 0.98);
        transform: translateY(-0.1rem); }
  .nav #nav-mid {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 0 0 40%;
    text-align: center; }
    @media only screen and (max-width: 68.75em) {
      .nav #nav-mid {
        flex: 0 0 35%; } }
    @media only screen and (max-width: 56.25em) {
      .nav #nav-mid {
        order: 1;
        flex: 0 0 100%;
        margin-top: .75rem; } }
    @media only screen and (max-width: 37.5em) {
      .nav #nav-mid {
        width: calc(100% + 6rem);
        margin-left: -3rem;
        margin-bottom: -2rem; } }
  .nav__search {
    width: 100%;
    position: relative; }
    .nav__search__input {
      font-family: inherit;
      font-size: inherit;
      color: inherit;
      background-color: #f0f0f0;
      border: none;
      padding: .7rem 2rem;
      border-radius: 100px;
      width: 90%;
      transition: all .2s;
      margin-right: -3.5rem;
      transition: all .2s; }
      @media only screen and (max-width: 90.625em) {
        .nav__search__input {
          width: 95%; } }
      @media only screen and (max-width: 68.75em) {
        .nav__search__input {
          width: 100%;
          margin-right: 0;
          justify-content: space-between; } }
      @media only screen and (max-width: 56.25em) {
        .nav__search__input {
          border-radius: 0; } }
      .nav__search__input:focus {
        outline: none;
        width: 100%;
        color: #5A5F6A;
        background-color: #ebebeb; }
    .nav__search__btn {
      outline: none;
      border: none;
      background: transparent;
      color: #5A5F6A;
      font-weight: 300; }
      @media only screen and (max-width: 68.75em) {
        .nav__search__btn {
          position: absolute;
          top: 50%;
          right: 2.5%;
          transform: translateY(-50%); } }
  .nav #nav-right {
    display: flex;
    justify-content: space-evenly; }
    @media only screen and (max-width: 56.25em) {
      .nav #nav-right {
        flex: 0 0 50%; } }
    @media only screen and (max-width: 37.5em) {
      .nav #nav-right {
        display: none; } }
  @media only screen and (max-width: 56.25em) {
    .nav__account-basket {
      display: flex;
      justify-content: space-evenly;
      width: 100%; } }
  @media only screen and (max-width: 37.5em) {
    .nav__account-basket {
      flex-direction: column; } }
  .nav__account-basket__opt {
    padding: 1rem 2rem;
    font-family: inherit;
    font-weight: inherit;
    text-decoration: none; }
    @media only screen and (max-width: 68.75em) {
      .nav__account-basket__opt {
        padding: 1rem; } }
    @media only screen and (max-width: 56.25em) {
      .nav__account-basket__opt {
        padding: 1rem 0; } }
    .nav__account-basket__opt:link, .nav__account-basket__opt:visited {
      color: currentColor;
      transition: all .2s;
      border-bottom: 1px solid transparent; }
    .nav__account-basket__opt:hover {
      color: #f47c4a;
      border-bottom: 1px solid #f47c4a; }
  .nav__icon {
    padding-left: .25rem; }
    @media only screen and (max-width: 76.25em) {
      .nav__icon {
        display: none; } }
  .nav .btn-inline {
    padding: 1rem 2rem; }
    @media only screen and (max-width: 68.75em) {
      .nav .btn-inline {
        padding: 1rem; } }
    @media only screen and (max-width: 56.25em) {
      .nav .btn-inline {
        padding: 1rem 0; } }

.showcase {
  background-image: linear-gradient(105deg, rgba(255, 255, 255, 0.9) 0%, #fff 35%, transparent 50%), url("../img/pages/index/showcase-cropped.jpg");
  background-size: cover;
  background-position: center;
  box-shadow: #c1c1c1 0px 5px 10px; }
  .showcase__heading {
    width: 50%;
    padding: 10rem; }
    .showcase__heading__text:not(:last-child) {
      margin-bottom: 3rem; }
    .showcase__heading__btn {
      font-size: 1.5rem; }
    .showcase__heading__btn:hover > .showcase__heading__btn-icon {
      margin-left: 4px;
      opacity: 100%; }
    .showcase__heading__btn-icon {
      position: absolute;
      opacity: 0;
      transition: all .25s;
      margin-left: -2px;
      padding-top: .5px; }
