p {
  color: #5A5F6A; }

.heading-1 {
  font-size: 6rem;
  font-weight: 300;
  letter-spacing: 1.5px;
  color: #315B8A; }

.heading-2 {
  font-size: 3.5rem;
  font-weight: 400;
  color: #5A5F6A; }

.heading-3 {
  font-size: 2.4rem;
  font-weight: 400;
  color: #5A5F6A; }

.u-center-text {
  text-align: center; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem; }

.u-margin-bottom-medium {
  margin-bottom: 4rem; }

.u-margin-bottom-big {
  margin-bottom: 8rem; }

.u-margin-top-small {
  margin-top: 1.5rem; }

.u-margin-top-big {
  margin-top: 8rem; }

.u-margin-top-huge {
  margin-top: 10rem; }

.hide {
  display: none; }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  font-family: inherit; }

body {
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
  font-size: 1.6rem; }

svg {
  width: 10px;
  height: 10px;
  fill: black; }

.logo__img {
  background-size: cover;
  max-width: 100%;
  max-height: 100%; }

.btn,
.btn-inline {
  outline: none;
  background-color: transparent;
  border: none;
  font-size: inherit;
  font-family: inherit;
  font-weight: inherit;
  text-decoration: none;
  cursor: pointer;
  transition: all .2s; }

.btn {
  position: relative;
  padding: 1rem;
  border-radius: 5px; }
  .btn:active {
    transform: translate(2px, 2px); }
  .btn--primary {
    background-color: #f47c4a;
    color: white; }
    .btn--primary:hover {
      background-color: #f56020; }
  .btn--white {
    background-color: #F2F5F6; }
    .btn--white:hover {
      background-color: #fbfbfb; }

.btn-inline {
  text-transform: uppercase;
  color: currentColor;
  display: inline-block;
  padding-bottom: .5rem;
  border-bottom: 1px solid transparent;
  padding-left: .25rem;
  padding-right: .25rem;
  transition: color .3s ease, background-color .3s ease, border .3s ease; }
  .btn-inline--primary, .btn-inline--primary:link, .btn-inline--primary:visited, .btn-inline--primary-b, .btn-inline--primary-b:link, .btn-inline--primary-b:visited {
    color: #f47c4a;
    border-bottom: 1px solid #f47c4a; }
  .btn-inline--primary-b:active, .btn-inline--secondary-b:active {
    transform: translate(2px, 2px); }
  .btn-inline--primary:hover {
    color: #914652; }
  .btn-inline--secondary, .btn-inline--secondary:link, .btn-inline--secondary:visited, .btn-inline--secondary-b, .btn-inline--secondary-b:link, .btn-inline--secondary-b:visited {
    color: #0b73de;
    border-bottom: 1px solid #0b73de; }
  .btn-inline--secondary:hover {
    color: #68b3ff;
    border-bottom: 1px solid #68b3ff; }
  .btn-inline--secondary-b {
    padding: 1rem; }
    .btn-inline--secondary-b:hover {
      color: #fbfbfb;
      background-color: #68b3ff;
      border-bottom: 1px solid transparent;
      padding: 1rem;
      border-radius: 5px; }
    .btn-inline--secondary-b:active {
      background-color: #548FCC; }

.nav {
  width: 100vw;
  height: 7rem;
  background-color: #fbfbfb;
  display: flex;
  align-items: center;
  justify-content: space-around;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.1); }
  @media only screen and (max-width: 56.25em) {
    .nav {
      flex-wrap: wrap; } }
  @media only screen and (max-width: 37.5em) {
    .nav {
      height: auto;
      flex-direction: column;
      flex-wrap: nowrap;
      align-items: flex-start;
      padding: 2rem 3rem; } }
  .nav__toggle {
    display: none; }
    @media only screen and (max-width: 37.5em) {
      .nav__toggle {
        display: inline-block; } }
    .nav__toggle__checkbox {
      display: none; }
    .nav__toggle__btn {
      background-color: #fbfbfb;
      height: auto;
      width: 8rem;
      position: fixed;
      top: .5rem;
      right: 1rem;
      z-index: 2000;
      text-align: center;
      cursor: pointer; }
    .nav__toggle__icon {
      position: relative;
      margin-top: 3.5rem; }
      .nav__toggle__icon, .nav__toggle__icon::before, .nav__toggle__icon::after {
        width: 3rem;
        height: 2px;
        background-color: #5A5F6A;
        display: inline-block; }
      .nav__toggle__icon::before, .nav__toggle__icon::after {
        content: "";
        position: absolute;
        left: 0;
        transition: all .2s; }
      .nav__toggle__icon::before {
        top: -.8rem; }
      .nav__toggle__icon::after {
        top: .8rem; }
    .nav__toggle__btn:hover .nav__toggle__icon::before {
      top: -1rem; }
    .nav__toggle__btn:hover .nav__toggle__icon::after {
      top: 1rem; }
    .nav__toggle__checkbox:checked + .nav__toggle__btn .nav__toggle__icon {
      background-color: transparent; }
    .nav__toggle__checkbox:checked + .nav__toggle__btn .nav__toggle__icon::before {
      transform: rotate(135deg);
      top: 0; }
    .nav__toggle__checkbox:checked + .nav__toggle__btn .nav__toggle__icon::after {
      transform: rotate(-135deg);
      top: 0; }
  .nav__section {
    display: flex;
    align-items: center; }
    @media only screen and (max-width: 37.5em) {
      .nav__section {
        flex-direction: column; } }
  .nav__logo {
    width: 10rem;
    margin: 1.5rem 2.5rem;
    transition: filter .5s ease; }
    .nav__logo:hover {
      filter: brightness(1.1); }
    @media only screen and (max-width: 37.5em) {
      .nav__logo {
        margin: 0; } }
  .nav #nav-left {
    align-items: center; }
    @media only screen and (max-width: 68.75em) {
      .nav #nav-left {
        justify-content: space-evenly; } }
    @media only screen and (max-width: 56.25em) {
      .nav #nav-left {
        flex: 0 0 50%;
        justify-content: space-around; } }
    @media only screen and (max-width: 37.5em) {
      .nav #nav-left {
        flex: 0 0 50%;
        align-items: flex-start;
        width: 100%; } }
  .nav__option {
    display: flex;
    flex-direction: column;
    font-size: 1.6rem;
    align-items: center;
    position: relative; }
    @media only screen and (max-width: 37.5em) {
      .nav__option {
        display: none; } }
    .nav__option__btn {
      padding: 1rem 2rem; }
      .nav__option__btn:hover {
        color: #f47c4a;
        border-bottom: 1px solid #f47c4a; }
      @media only screen and (max-width: 68.75em) {
        .nav__option__btn {
          padding: 1rem; } }
      @media only screen and (max-width: 56.25em) {
        .nav__option__btn {
          padding: 1rem 0; } }
    .nav__option:not(:last-child) {
      margin-right: 1rem; }
    .nav__option__dropdown-opts {
      display: flex;
      flex-direction: column;
      position: absolute;
      top: 100%;
      left: 20%;
      width: max-content;
      background-color: rgba(90, 95, 106, 0.88);
      text-align: center;
      z-index: 10;
      transition: all .2s; }
      .nav__option__dropdown-opts--expand {
        height: auto;
        opacity: 100%; }
      .nav__option__dropdown-opts--collapse {
        height: 0;
        opacity: 0; }
        .nav__option__dropdown-opts--collapse .nav__option__dropdown-opts__opt:link,
        .nav__option__dropdown-opts--collapse .nav__option__dropdown-opts__opt:visited {
          height: 0;
          padding: 0; }
      .nav__option__dropdown-opts__opt:link, .nav__option__dropdown-opts__opt:visited {
        text-decoration: none;
        color: #fbfbfb;
        font-weight: 300;
        padding: 1.5rem 3rem;
        width: 100%; }
        .nav__option__dropdown-opts__opt:link:not(:last-child), .nav__option__dropdown-opts__opt:visited:not(:last-child) {
          margin-bottom: 1rem; }
      .nav__option__dropdown-opts__opt:hover {
        background-color: rgba(90, 95, 106, 0.95); }
      .nav__option__dropdown-opts__opt:active {
        background-color: rgba(90, 95, 106, 0.98);
        transform: translateY(-0.1rem); }
  .nav #nav-mid {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 0 0 40%;
    text-align: center; }
    @media only screen and (max-width: 68.75em) {
      .nav #nav-mid {
        flex: 0 0 35%; } }
    @media only screen and (max-width: 56.25em) {
      .nav #nav-mid {
        order: 1;
        flex: 0 0 100%;
        margin-top: .75rem; } }
    @media only screen and (max-width: 37.5em) {
      .nav #nav-mid {
        width: calc(100% + 6rem);
        margin-left: -3rem;
        margin-bottom: -2rem; } }
  .nav__search {
    width: 100%;
    position: relative; }
    .nav__search__input {
      font-family: inherit;
      font-size: inherit;
      color: inherit;
      background-color: #f0f0f0;
      border: none;
      padding: .7rem 2rem;
      border-radius: 100px;
      width: 90%;
      transition: all .2s;
      margin-right: -3.5rem;
      transition: all .2s; }
      @media only screen and (max-width: 90.625em) {
        .nav__search__input {
          width: 95%; } }
      @media only screen and (max-width: 68.75em) {
        .nav__search__input {
          width: 100%;
          margin-right: 0;
          justify-content: space-between; } }
      @media only screen and (max-width: 56.25em) {
        .nav__search__input {
          border-radius: 0; } }
      .nav__search__input:focus {
        outline: none;
        width: 100%;
        color: #5A5F6A;
        background-color: #ebebeb; }
    .nav__search__btn {
      outline: none;
      border: none;
      background: transparent;
      color: #5A5F6A;
      font-weight: 300; }
      @media only screen and (max-width: 68.75em) {
        .nav__search__btn {
          position: absolute;
          top: 50%;
          right: 2.5%;
          transform: translateY(-50%); } }
    .nav__search__icon {
      padding-left: .25rem; }
      @media only screen and (max-width: 76.25em) {
        .nav__search__icon {
          display: none; } }
  .nav #nav-right {
    display: flex;
    justify-content: space-evenly; }
    @media only screen and (max-width: 56.25em) {
      .nav #nav-right {
        flex: 0 0 50%; } }
    @media only screen and (max-width: 37.5em) {
      .nav #nav-right {
        display: none; } }
  @media only screen and (max-width: 56.25em) {
    .nav__account-basket {
      display: flex;
      justify-content: space-evenly;
      width: 100%; } }
  @media only screen and (max-width: 37.5em) {
    .nav__account-basket {
      flex-direction: column; } }
  .nav__account-basket__opt {
    padding: 1rem 2rem;
    font-family: inherit;
    font-weight: inherit;
    text-decoration: none; }
    @media only screen and (max-width: 68.75em) {
      .nav__account-basket__opt {
        padding: 1rem; } }
    @media only screen and (max-width: 56.25em) {
      .nav__account-basket__opt {
        padding: 1rem 0; } }
    .nav__account-basket__opt:link, .nav__account-basket__opt:visited {
      color: currentColor;
      transition: all .2s;
      border-bottom: 1px solid transparent; }
    .nav__account-basket__opt:hover {
      color: #f47c4a;
      border-bottom: 1px solid #f47c4a; }

.index-grid {
  display: grid;
  grid-template-rows: 1fr repeat(2, 35rem);
  grid-template-columns: repeat(2, [col-start] minmax(min-content, 1fr) [col-end]);
  gap: 1.5rem 1.5rem;
  padding: 9.5rem 15rem;
  background-color: #f0f0f0; }
  .index-grid__description {
    grid-column: 1 / -1; }
    .index-grid__description__heading {
      margin-bottom: 2rem;
      color: #f47c4a; }
    .index-grid__description__detail {
      font-size: 2rem; }
  .index-grid__container {
    overflow: hidden;
    position: relative;
    border-radius: 10px;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15); }
    .index-grid__container__header {
      position: absolute;
      z-index: 10;
      padding: 2rem;
      transform: translateX(-50%);
      padding-left: calc(50% + 2rem);
      color: #fbfbfb;
      transition: transform .75s; }
      .index-grid__container__header::before {
        content: "";
        position: absolute;
        width: 200%;
        height: 6rem;
        left: -3rem;
        top: 1.5rem;
        background-image: linear-gradient(45deg, rgba(0, 0, 0, 0.23), transparent);
        z-index: -5; }
    .index-grid__container__img {
      position: absolute;
      z-index: 5;
      left: 0;
      top: 0;
      background-size: cover;
      width: 100%;
      height: 100%;
      object-fit: cover;
      display: block;
      transition: all .75s ease-out; }
    .index-grid__container:hover > a > .index-grid__container__img {
      transform: scale(1.05);
      filter: brightness(0.85) blur(4px); }
    .index-grid__container:hover > a > .index-grid__container__header {
      padding: 2rem;
      font-size: 5rem;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center;
      width: 100%; }
      .index-grid__container:hover > a > .index-grid__container__header::before {
        background-image: none; }

.latest-products {
  display: grid;
  grid-template-rows: [head-start] min-content [head-end] repeat(2, [content-row-start-] 15vw [content-row-end-]);
  grid-template-columns: repeat(3, 15vw);
  justify-content: center;
  gap: 4rem;
  overflow: hidden;
  border-radius: 10px;
  padding: 9.5rem 15rem; }
  .latest-products:hover > .latest-products__product__name::before {
    opacity: 0; }
  .latest-products__heading {
    grid-column: 1 / -1; }
    .latest-products__heading__title {
      margin-bottom: 2rem;
      color: #f47c4a; }
    .latest-products__heading__info {
      margin-bottom: -2rem; }
  .latest-products__product {
    overflow: hidden;
    box-shadow: #828282 5px 1px 11px -5px;
    background-color: #c1c1c1;
    border-radius: 1rem; }
    .latest-products__product__img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center; }
    .latest-products__product__name {
      text-transform: uppercase;
      position: absolute;
      top: .5rem;
      left: 1rem;
      font-size: 2rem;
      padding: .5rem;
      width: 100%;
      color: #000; }
      .latest-products__product__name::before {
        content: "";
        position: absolute;
        width: 200%;
        height: -webkit-fill-available;
        left: -3rem;
        background-image: linear-gradient(45deg, rgba(255, 172, 32, 0.4) 35%, transparent 50%);
        transition: all .7s ease; }
    .latest-products__product__price-box {
      height: 100%;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      background-image: linear-gradient(180deg, #0b73de, #09539e); }
    .latest-products__product__price-only {
      color: #fbfbfb;
      text-transform: uppercase; }
    .latest-products__product__price-value {
      color: #fbfbfb;
      font-weight: 300;
      font-size: 4rem;
      margin-top: 1rem; }
    .latest-products__product__info-btn:link, .latest-products__product__info-btn:visited {
      margin-top: 1.5rem;
      color: #548FCC; }
    .latest-products__product__info-btn:hover, .latest-products__product__info-btn:active {
      color: #09539e; }

.how-it-works {
  display: flex;
  flex-direction: row;
  padding: 9.5rem 15rem;
  padding-top: 4.5rem;
  background-color: #f9f9f9; }
  .how-it-works__imgs {
    position: relative;
    width: 50%;
    height: 55rem;
    padding: 5rem 2.5rem; }
    .how-it-works__imgs > * {
      background-size: cover;
      position: absolute; }
    .how-it-works__imgs__bottom {
      width: 75%;
      z-index: 10;
      filter: saturate(0.45) contrast(0.9) blur(1px);
      border-radius: 7px; }
    .how-it-works__imgs__top {
      width: 50%;
      z-index: 20;
      transform: translate(85%, 15%);
      filter: hue-rotate(20deg) saturate(1.85) brightness(1.2);
      border-radius: 10px;
      box-shadow: rgba(130, 130, 130, 0.56) 13px 1px 29px -4px; }
  .how-it-works__info {
    padding: 5rem 2.5rem;
    width: 50%; }
    .how-it-works__info__heading {
      margin-bottom: 2rem;
      color: #f47c4a; }
    .how-it-works__info__content > * {
      margin-bottom: 1rem; }
    .how-it-works__info__btn {
      align-self: flex-start;
      margin-top: 1.25rem;
      font-weight: 600; }

.search-summary {
  width: 100%;
  padding: 3rem;
  text-align: center; }
  .search-summary__text__num-results {
    margin-bottom: .5rem; }
  .search-summary__text__search-str {
    font-size: 4rem;
    color: #548FCC; }

.search-filters {
  display: flex;
  justify-content: center; }
  .search-filters__options {
    cursor: pointer; }
    .search-filters__options:focus + list {
      opacity: 1;
      animation: none; }
      .search-filters__options:focus + list .search-filters__option {
        cursor: pointer; }
    .search-filters__options:focus .search-filters__icon {
      transform: translateY(-50%) rotate(180deg); }
  .search-filters__icon {
    display: flex; }
  .search-filters__input {
    display: none; }
    .search-filters__input:checked + .search-filters__input-text {
      display: block; }
  .search-filters__input-text {
    display: none;
    width: 100%;
    margin: 0;
    padding: 15px;
    background-color: #fff; }
  .search-filters__list__option {
    position: absolute;
    width: 100%;
    padding: 0;
    list-style: none;
    opacity: 0;
    animation-name: HideList;
    animation-duration: 0.5s;
    animation-delay: 0.5s;
    animation-fill-mode: forwards;
    animation-timing-function: step-start;
    box-shadow: 0 15px 30px -10px; }
  .search-filters__option {
    display: block;
    padding: 1.5rem;
    background-color: #fff; }
    .search-filters__option:hover, .search-filters__option:focus {
      color: #546c84;
      background-color: #fbfbfb; }

@keyframes HideList {
  from {
    transform: scaleY(1); }
  to {
    transform: scaleY(0); } }

.select-box {
  position: relative;
  display: block;
  width: 100%;
  margin: 0 auto;
  color: #60666d; }

.showcase {
  background-image: linear-gradient(105deg, rgba(255, 255, 255, 0.9) 0%, #fff 35%, transparent 50%), url("../img/pages/index/showcase-cropped.jpg");
  background-size: cover;
  background-position: center;
  box-shadow: #c1c1c1 0px 5px 10px; }
  .showcase__heading {
    width: 50%;
    padding: 10rem; }
    .showcase__heading__text:not(:last-child) {
      margin-bottom: 3rem; }
    .showcase__heading__btn {
      font-size: 1.5rem; }
    .showcase__heading__btn:hover > .showcase__heading__btn-icon {
      transform: translateX(4px) translateY(0.5px);
      opacity: 100%;
      display: inline-block;
      width: max-content; }
    .showcase__heading__btn-icon {
      opacity: 0;
      width: 0%;
      transition: all .25s;
      transform: translateX(-500%) translateY(0.5px);
      margin-left: -2px; }

.card {
  perspective: 150rem;
  position: relative; }
  .card__side {
    transition: all .8s ease;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backface-visibility: hidden; }
    .card__side--back {
      transform: rotateY(-180deg); }
  .card:hover .card__side--front {
    transform: rotateY(-180deg); }
  .card:hover .card__side--back {
    transform: rotateY(0); }
