{% extends 'base.html' %}

{% load static %}
{% load humanize %}

{% block title %} | Order Details{% endblock %}

{% block content %}

{% include 'partials/_messages.html' %}

<header class="order-details-head order-head">
  <h1 class="heading-1 order-details-head__title">Order Details</h1>
</header>

<main class="order-details-main">
  {% include "partials/_new-review.html" %}
  <section class="order-details-top">
    <div class="order-ref-date">
      <p class="order-ref-date__elem" type="title" field="ref">
        Reference Number
      </p>
      <p class="order-ref-date__elem" type="content" field="ref">
        {{ orders.0.transaction_ref }}
      </p>
      <p class="order-ref-date__elem" type="title" field="order-date">
        Ordered On
      </p>
      <p class="order-ref-date__elem" type="content" field="order-date">
        {{ orders.0.ordered_on|date:"jS M Y" }}
      </p>
    </div>
    <div class="order-address">
      <p class="order-address__title">
        Delivery Address
      </p>
      <p class="order-address__line">
        {{ orders.0.recipient }}
      </p>
      <p class="order-address__line">
        {{ orders.0.address_line_1 }}
      </p>
      {% if orders.0.address_line_2 %}
        <p class="order-address__line">
          {{ orders.0.address_line_2 }}
        </p>
      {% endif %}
      <p class="order-address__line">
        {{ orders.0.city }}
      </p>
      {% if orders.0.postcode %}
        <p class="order-address__line">
          {{ orders.0.postcode }}
        </p>
      {% endif %}
      <p class="order-address__line">
        {{ orders.0.country }}
      </p>
    </div>
  </section>

  <section class="order-main">
    {% for order in orders %}
      <div class="order">
        <div class="order__details">
          <div
            class="order__details__detail"
            elem="status"
            status="{{ order.status }}"
          >
            <h2 class="order__details__detail__text">{{ order.status }}</h2>
            {% if order.status == 'Processing' or order.status == 'Scheduled' %}

              <p class="order__details__detail__text">
                {% if order.delivery_from == order.delivery_to %}
                  <span class="hide-400">Delivery expected on </span>
                  {{order.delivery_to|date:"D jS M Y H:i" }}
                {% else %}
                  <span class="hide-400">Delivery scheduled from </span>
                  {{ order.delivery_from|date:"D jS M Y H:i" }} to {{ order.delivery_to|date:"D jS M Y H:i" }}
                {% endif %}
              </p>

            {% elif order.status == 'Delivered' %}
              <p class="order__details__detail__text">
                <span class="hide-400">Delivered on </span>
                {{ order.delivered_on|date:"D jS M Y H:i" }}
              </p>

            {% elif order.status == 'Returned' %}
              <p class="order__details__detail__text">
                <span class="hide-400">Returned on </span>
                {{ order.returned_on|date:"D jS M Y H:i" }}
              </p>
            {% endif %}
          </div>

          <div class="order__details__detail" elem="product-img">
            <img
              src="{{ order.product.showcase_image }}"
              alt="{{ order.product }}"
            />
          </div>
          <div class="order__details__detail" elem="product-info">
            <a
              class="order__details__detail__text text-link"
              href="{% url 'product' order.product.product_id %}"
              elem="product-name"
            >
              {{ order.product.name }}
            </a>
            <a
              class="order__details__detail__text text-link"
              href="{% url 'store' order.store.store_id %}"
              elem="store-name"
            >
              {{ order.store.name }}
            </a>
            <p class="order__details__detail__text" elem="quantity">
              Quantity: {{ order.quantity }}
            </p>
            <p class="order__details__detail__text" elem="price">
              Total: &pound;{{ order.ex_vat|add:order.vat|floatformat:2|intcomma }}
            </p>
          </div>

          <div class="order__details__btns-container" elem="btns">
            <div class="order__details__btns-container__btn" elem="buy-again-btn">
              <a
                class="btn btn--secondary"
                href="{% url 'product' order.product.product_id %}"
              >
                Buy Again
              </a>
            </div>
            {% if order.tracking_ref and order.tracking_ref != '' and order.tracking_ref != '0' %}
            <div class="order__details__btns-container__btn" elem="track-order-btn">
              <a class="btn btn--secondary" href="#">
                Track Order
              </a>
            </div>
            {% endif %}
            <div class="order__details__btns-container__btn" elem="return-btn">
              <a class="btn btn--secondary" href="#">
                Return
              </a>
            </div>
            <div class="order__details__btns-container__btn" elem="contact-btn">
              <a href="#" class="btn btn--secondary">
                Contact Seller
              </a>
            </div>
            {% if order.status == 'Delivered' and order.product.product_id not in userReviewList %}
            <div class="order__details__btns-container__btn" elem="review-btn">
              <div id="product-reviews-user-rating">
                <a
                  class="btn btn--secondary"
                  newReviewProduct="{{ order.product.product_id }}"
                  newReviewStore="{{ order.store.store_id }}"
                >
                  Review
                </a>
              </div>
            </div>
            {% endif %}
          </div>
        </div>
      </div>
    {% endfor %}
  </section>
  <section class="order-main order-total-container">
    <div class="order">
      <div class="order-total">
        <h2 class="order-total__heading heading-2">Total</h2>
        <div class="order-total__details">
          <p class="order-total__details__key">Sub Total</p>
          <p class="order-total__details__value">
            &pound;{{ total_exVat|floatformat:2|intcomma }}
          </p>
          <p class="order-total__details__key">Vat</p>
          <p class="order-total__details__value">
            &pound;{{ total_vat|floatformat:2|intcomma }}
          </p>
          <p class="order-total__details__key">Delivery Charge</p>
          <p class="order-total__details__value">
            &pound;{{ total_delivery|floatformat:2|intcomma }}
          </p>
          <p class="order-total__details__key">Assembly Fee</p>
          <p class="order-total__details__value">
            &pound;{{ total_assembly|floatformat:2|intcomma }}
          </p>
          <p class="order-total__details__key">Grand Total</p>
          <div class="order-total__details__value">
            &pound;{{ total_total|floatformat:2|intcomma }}
          </div>
        </div>
      </div>
    </div>
  </section>
</main>

{% endblock %}

{% block footer %} {% endblock %}
