{% extends 'base.html' %}

{% load static %}
{% load humanize %}

{% block title %} | Register {% endblock %}

{% block content %}

<main class="register-login">
  <div class="register-login__container">
    <h1 class="register-login__heading heading-1">Login</h1>
    <form method="POST" class="register-login__form">
      {% csrf_token %}
      <input
        type="email"
        name="email"
        class="register-login__form__input"
        id="email"
        placeholder="Email"
      />
      <input
        type="password"
        name="password"
        class="register-login__form__input"
        id="password"
        placeholder="Password"
      />
        
    </form>
  </div>
</main>

{% endblock %}

{% block footer %}
{% endblock %}
