{% load humanize %}

<div class="product-reviews__review">
  <div class="product-reviews__review__section" for="title-ratings">
    <div class="product-reviews__review__rating">
      {% include 'products/partials/_product-ratings.html' with ratingsCount="hide" rating=review.rating %}
    </div>
    <!-- Review Title -->
    {% if review.review_title %}
    <h3 class="product-reviews__review__title">
      {{ review.review_title }}
    </h3>
    {% endif %}
  </div>
  <!-- Review Date -->
  <p class="product-reviews__review__date">
    {{ review.review_date }}
  </p>
  <!-- Review Comments -->
  {% if review.comments %}
  <p class="product-reviews__review__comments">
    {{ review.comments }}
  </p>
  {% endif %}
  <!-- Review User -->
  <p class="product-reviews__review__user">
    {{ otherReview.user.first_name }}
  </p>
</div>
