{% load humanize %}

<div class="product-reviews__review__confirm-delete confirm-delete hide">
    <div class="confirm-delete__inner-container">
      <span>
        <i class="confirm-delete__icon fa fa-times"></i>
      </span>
      <h2 class="confirm-delete__title heading-2">Are You Sure?</h2>
      <p class="confirm-delete__text">
        You can always update your comments if you are not happy with them. Once you delete, there is no way to retrieve your comments.
      </p>
      <div class="confirm-delete__btns-container">
        <a class="btn btn--grey confirm-delete__btn" for="cancel">
          Cancel
        </a>
        <a class="btn btn--red confirm-delete__btn" for="delete">
          Delete
        </a>
      </div>
    </div>
  </div>
  <form
    class="product-reviews__review"
    id="product-user-review-form"
    method="POST"
  >
    {% csrf_token %}
    <div
      class="product-reviews__review__section"
      for="title-ratings"
      userSection='current-section'
    >
      <div
        class="product-reviews__review__rating"
        id="product-reviews-user-rating"
        userRating="{{ userReview.rating }}"
      >
        {% include 'products/partials/_product-ratings.html' with ratingsCount='hide' rating=userReview.rating %}
      </div>
      {% if userReview.review_title %}
        <h3 class="product-reviews__review__title">
          {{ userReview.review_title }}
        </h3>
      {% endif %}
    </div>

    <p class="product-reviews__review__date" userSection='current-section'>
      {{ userReview.review_date }}
    </p>

    {% if userReview.comments %}
      <p
        class="product-reviews__review__comments"
        userSection='current-section'>{{ userReview.comments }}</p>
      <p
        class="product-reviews__review__user"
        userSection='current-section'
      >
        {{ user.first_name }}
      </p>
      <div
        class="product-reviews__review__btns-container"
        userSection='current-section'
      >
        <a
          class="product-reviews__review__btn"
          id="user-review-edit-start"
        >
          Edit
        </a>
        <a
          class="product-reviews__review__btn"
          id="user-review-delete-start"
        >
          Delete
        </a>
      </div>
      <div
        class="product-reviews__review__update-comments-container hide"
        userSection='update-section'
      >
        <div class="product-reviews__review__form-element">
          <label
            for="user-review-update-ratings"
            class="product-reviews__review__form-label"
          >
            Rating
          </label>
          <div class="product-showcase__section__ratings">
            <div
              class="rating__stars"
              id='user-review-ratings-input'
              selectable='true'
            >
              <span
                class="rating__stars__star fa fa-star i-star i-star--selectable"
                value="1"
              >
              </span>
              <span
                class="rating__stars__star fa fa-star i-star i-star--selectable"
                value="2"
              >
              </span>
              <span
                class="rating__stars__star fa fa-star i-star i-star--selectable"
                value="3"
              >
              </span>
              <span
                class="rating__stars__star fa fa-star i-star i-star--selectable"
                value="4"
              >
              </span>
              <span
                class="rating__stars__star fa fa-star i-star i-star--selectable"
                value="5"
              >
              </span>
            </div>
          </div>
        </div>
        <div class="product-reviews__review__form-element">
          <label
            for="user-review-title"
            class="product-reviews__review__form-label"
          >
            Title
          </label>
          <input
            type="text"
            name="user-review-title"
            class="product-reviews__review__form-input"
            value="{{ userReview.review_title }}"
            id="user-review-title"
            placeholder="Comment Title"
          >
        </div>

        <div class="product-reviews__review__form-element">
          <label
            for="user-comments"
            class="product-reviews__review__form-label"
          >
            Comments
          </label>
          <textarea
            name="user-comments"
            id="user-comments"
            cols="50"
            rows="10"
            placeholder="Comments"
            class="product-reviews__review__form-textarea"
          >{{ userReview.comments }}</textarea>
        </div>

      </div>

      <div
        class="product-reviews__review__btns-container hide"
        for="update-comments-submit-cancel"
        userSection='update-section'
      >
        <a
          class="product-reviews__review__btn"
          id="user-review-edit-submit"
        >
          Submit
        </a>
        <a
          class="product-reviews__review__btn"
          id="user-review-edit-cancel"
        >
          Cancel
        </a>
      </div>

    {% else %}
      <p class="product-reviews__review__user">{{ user.first_name }}</p>
    {% endif %}
    <input
      type="hidden"
      name="user-review-operation"
      id="user-review-operation"
    >
    <input
      type="hidden"
      name='user-review-rating'
      value="{{ userReview.rating }}"
      id="user-review-rating"
    >
    <input
      type="hidden"
      name="user-review-delete-bool"
      value="false"
      id="user-review-delete-bool"
    >
    <input
      type="hidden"
      name="user-review-id"
      value="{{ userReview.id }}"
    >
    <button type="submit" class="hide" id="user-review-submit"></button>
  </form>