{% extends 'base.html' %}

{% load static %}
{% load humanize %}

{% block title %} | Bedroom{% endblock %}

{% block content %}

  <header class="category-head">
    <h1 class="heading-1 category-head__title">Bedroom</h1>
    <h2 class="heading-2 category-head__subheading">
        I'm in a needy relationship, I need my bed!
    </h2>
  </header>
  <main class="category-main">
    <section class="category-main__heading">
      <p class="category-main__text">
          Who doesn't know the importance of a good nights sleep? If there is one area you should not compromise, it is with your sleep.
      </p>
      <p class="category-main__text">
          Check out our great deals on bedroom furniture below.
      </p>
    </section>
    {% include "pages/partials/_products-by-subcategories.html" with productsBySubCats=productsBySubCats%}

  </main>

{% endblock %}

{% block footer %}
{% endblock %}