{% extends 'base.html' %}

{% load static %}
{% load humanize %}

{% block title %} | Wardrobes{% endblock %}

{% block content %}

  <header class="category-head">
    <h1 class="heading-1 category-head__title">Wardrobes</h1>
    <h2 class="heading-2 category-head__subheading">
        No such thing as too many clothes.
    </h2>
  </header>
  <main class="category-main">
    <section class="category-main__heading">
      <p class="category-main__text">
          Maybe you need more drawers or maybe you need space for your shoes?.
          Or maybe you need something that feels practical and look good
          alongside the rest of your bedroom furniture.
      </p>
      <p class="category-main__text">
          Whether it be open, fitted, transitional or something a bit more
          modern, we have the perfect selection for you!
      </p>
    </section>
    {% include "pages/partials/_products-by-subcategories.html" with productsBySubCats=productsBySubCats%}

  </main>

{% endblock %}

{% block footer %}
{% endblock %}