{% extends 'base.html' %}
{% load static %}
{% block title %} | Welcome {% endblock %}

{% block content %}

    <header class="header">
        <div class="showcase">
            <div class="showcase__heading">
                <h1 class="showcase__heading__text heading-1">Find Your Perfect Piece of Furniture</h1>
                <h2 class="showcase__heading__text heading-2">With furniture from a range of stores delivered right to your home, why would you want to search anywhere else?</h2>
                <button class="showcase__heading__btn btn btn--primary">Take me There<span class="showcase__heading__btn-icon btn__icon">&gt;&gt;</span></button>
            </div>
        </div>
    </header>

{% endblock %}


{% block footer %}

{% endblock %}