// COLOURS
$colour-white: #F2F5F6;
$colour-grey-1: #5A5F6A;

$colour-primary-light-1: #FFAFA1;
$colour-primary: #F16C54;
$colour-primary-dark-1: #914652;

$colour-secondary: #548FCC;
$colour-secondary-dark-1: #315B8A;

$colour-tertiary: #E9AD79;

// FONTS
