{% extends 'base.html' %}

{% load static %}
{% load humanize %}

{% block title %} | {{ product.name }}{% endblock %}

{% block content %}

<header class="single-product-header">
  <h1 class="product-name heading-1">{{ product.name }}</h1>
  <a href="{% url 'store' product.store.store_id %}"class="product-store-name"> {{ product.store.name }}</a>
</header>

<main class="single-product">
  <section class="product-showcase">
    <div class="product-showcase__section product-showcase__section--lhs carousel-container">
      <div class="carousel-container__main">
        <div class="product-showcase__section__img-container carousel-container__display-section">
          <img
            class="product-showcase__section__img-container__img slide_img_show carousel-container__display-section__img"
            src="{{ product.showcase_image }}"
            alt="Showcase image of {{ product.name }}"
            img="showcase-img"
            aria-hidden="false"
            position="init"
          />
          {% if product.image_1 %}
          <img
            class="product-showcase__section__img-container__img slide_img_show carousel-container__display-section__img"
            src="{{ product.image_1 }}"
            alt="Image 1 of {{ product.name }}"
            img="img-1"
            aria-hidden="true"
            position="hide"
          />
          {% endif %}
          {% if product.image_2 %}
          <img
            class="product-showcase__section__img-container__img slide_img_show carousel-container__display-section__img"
            src="{{ product.image_2 }}"
            alt="Image 2 of {{ product.name }}"
            img="img-2"
            aria-hidden="true"
            position="hide"
          />
          {% endif %}
          {% if product.image_3 %}
          <img
            class="product-showcase__section__img-container__img slide_img_show carousel-container__display-section__img"
            src="{{ product.image_3 }}"
            alt="Image 3 of {{ product.name }}"
            img="img-3"
            aria-hidden="true"
            position="hide"
          />
          {% endif %}
          {% if product.image_4 %}
          <img
            class="product-showcase__section__img-container__img slide_img_show carousel-container__display-section__img"
            src="{{ product.image_4 }}"
            alt="Image 4 of {{ product.name }}"
            img="img-4"
            aria-hidden="true"
            position="hide"
          />
          {% endif %}
          {% if product.image_5 %}
          <img
            class="product-showcase__section__img-container__img slide_img_show carousel-container__display-section__img"
            src="{{ product.image_5 }}"
            alt="Image 5 of {{ product.name }}"
            img="img-5"
            aria-hidden="true"
            position="hide"
          />
          {% endif %}
          {% if product.image_6 %}
          <img
            class="product-showcase__section__img-container__img slide_img_show carousel-container__display-section__img"
            src="{{ product.image_6 }}"
            alt="Image 6 of {{ product.name }}"
            img="img-6"
            aria-hidden="true"
            position="hide"
          />
          {% endif %}
        </div>
        <div class="product-showcase__section__thumbs carousel-container__display-controls">
          <img
            class="carousel-container__display-controls__control"
            src="{{ product.showcase_image }}"
            alt="Thumbnail of {{ product.showcase_image }}"
            aria-hidden="true"
            for="showcase-img"
          />
          {% if product.image_1 %}
          <img
            class="carousel-container__display-controls__control"
            src="{{ product.image_1 }}"
            alt="Thumbnail of {{ product.name }}"
            for="img-1"
          />
          {% endif %}
          {% if product.image_2 %}
          <img
            class="carousel-container__display-controls__control"
            src="{{ product.image_2 }}"
            alt="Thumbnail of {{ product.name }}"
            for="img-2"
          />
          {% endif %}
          {% if product.image_3 %}
          <img
            class="carousel-container__display-controls__control"
            src="{{ product.image_3 }}"
            alt="Thumbnail of {{ product.name }}"
            for="img-3"
          />
          {% endif %}
          {% if product.image_4 %}
          <img
            class="carousel-container__display-controls__control"
            src="{{ product.image_4 }}"
            alt="Thumbnail of {{ product.name }}"
            for="img-4"
          />
          {% endif %}
          {% if product.image_5 %}
          <img
            class="carousel-container__display-controls__control"
            src="{{ product.image_5 }}"
            alt="Thumbnail of {{ product.name }}"
            for="img-5"
          />
          {% endif %}
          {% if product.image_6 %}
          <img
            class="carousel-container__display-controls__control"
            src="{{ product.image_6 }}"
            alt="Thumbnail of {{ product.name }}"
            for="img-6"
          />
          {% endif %}
        </div>
      </div>
    </div>
    <div class="product-showcase__section product-showcase__section--rhs">
      <!-- Name and Ratings -->
      <h2 class="product-showcase__section__price">
        &pound;{{ product.price|floatformat:2|intcomma }}
      </h2>
      <!-- Ratings -->
      {% include 'products/partials/_product-ratings.html' %}

      <!-- Description -->
      <div class="product-showcase__section__description">
        <p>
          {{ product.description|truncatechars:200 }}
          {% if product.description|length > 200 %}
            <a href="#">Read more</a>.
          {% endif %}
        </p>
      </div>

      <!-- Quantity -->
      <div class="product-showcase__section__quantity c-quantity">
        {% if product.inventory %}
        <button
          class="product-showcase__section__quantity__btn c-quantity__btn"
          control="quantity-down"
          disabled="disabled"
        >
          <span class="c-quantity__btn__text">&#45;</span>
        </button>
        <input
          class="product-showcase__section__quantity__input c-quantity__input"
          type="number"
          name="quantity"
          min="1"
          max="{{ product.inventory }}"
          value="1"
          step="1"
          id='quantity-ctrl'
          product-id='{{ product.product_id }}'
        />
        <button
          class="product-showcase__section__quantity__btn c-quantity__btn"
          control="quantity-up"
        >
          <span class="c-quantity__btn__text">&#43;</span>
        </button>
        {% else %}
        <p class="product-showcase__section__quantity__no-stock">
          Currently out of stock
        </p>
        {% endif %}
      </div>

      <!-- Alternative Colours -->
      <div class="product-showcase__section__colours">
        <div class="dropdown-menu">
          <div class="dropdown-menu__selected">
            <span
                class="sm-colour-box"
                style="background-color: {{ product.colour.hex_val}};"></span
              >
            <span>{{ product.colour.name }}</span>
          </div>
          <div
            class="dropdown-menu__options dropdown-menu__options--hide"
            id="product-colour-variations"
          >
            <a
              href="#"
              class="dropdown-menu__options__label dropdown-menu__options__label--selected"
            >
              <label for="colour-{{ product.colour.name }}">
                <span
                  class="sm-colour-box"
                  style="background-color: {{ product.colour.hex_val}};"></span
                >
                {{product.colour.name }}
              </label>
            </a>
            <input
              type="radio"
              class="dropdown-menu__options__radio-btn"
              name="prod-f-colour"
              id="colour-{{ product.colour.name }}"
              value="colour-{{ product.colour.name }}"
            />
          </div>
        </div>
      </div>

      <!-- Add to Basket Button -->
      <button
        class="product-showcase__section__basket-add btn btn--primary"
        id="add-to-basket-btn"
      >
        <i class="fas fa-truck"></i>Add to Basket
      </button>
    </div>
  </section>

  <!-- Related Products -->
  <section class="related-products">

    <!-- Product Sets -->
    <div class="product-sets related-products__container" id="product-sets">
      <h2 class="product-sets__title related-products__title heading-2">This Will Go Well With...</h2>
    </div>

     <!-- Similar Products -->
    <div class="similar-products related-products__container" id="similar-products">
      <h2 class="similar-products__title related-products__title heading-2">Looking for Something Similar&#63;</h2>
    </div>
  </section>

  <!-- Product Description -->
  <section class="product-info">
    <div class="product-info__section all-cols" for='product-description'>
      <h2 class="product-info__section__title heading-2">
        Product Description
      </h2>
      <div class="product-info__section__text-block">
        <p class="product-info__section__text">{{ product.description }}</p>
      </div>
    </div>

    <!-- Size -->
    <div class="product-info__section" for='product-size'>
      <h2 class="product-info__section__title heading-2">Size</h2>
      <div class="product-info__section__text-block">
        <p class="product-info__section__text">Length: {{ product.length }} {{ product.length_units }}</p>
        <p class="product-info__section__text">Width: {{ product.width }} {{ product.width_units }}</p>
        <p class="product-info__section__text">Height: {{ product.height }} {{ product.height_units }}</p>
        <p class="product-info__section__text">Weight: {{ product.weight }} {{ product.weight_units }}</p>
      </div>
    </div>

    <!-- Features -->
    <div class="product-info__section" for='product-features'>
      <h2 class="product-info__section__title heading-2">Features</h2>
      <div class="product-info__section__text-block" id="product-features">

      </div>
    </div>

    <!-- Product Reviews -->
    <div class="product-info__section all-cols" id="reviews" for='product-reviews'>
      <h2 class="product-info__section__title heading-2">Reviews</h2>
      {% if products.ratings %}
      <div class="product-info__section__text-block">
        ratings
      </div>
      {% else %}
      <div class="product-info__section__text-block">
        <p class="product-info__section__text u-italics">
          No reviews for this product yet.
        </p>
      </div>
      {% endif %}

    </div>
  </section>
</main>

{% endblock %}

{% block footer %}

{% endblock %}
