{% extends 'base.html' %}

{% load static %}
{% load humanize %}

{% block title %} | {{ product.name }}{% endblock %}

{% block content %}

<header class="product-reviews-header">
  <h1 class="heading-1 product-reviews-header__title">
    Product Reviews
  </h1>
  <h2 class="heading-2 product-reviews-header__product-name">
    {{ product.name }}
  </h2>
  <h2 class="heading-3 product-reviews-header__price">
    &pound;{{ product.price|floatformat:2|intcomma }}
  </h2>
  <div class="product-reviews-header__ratings">
    {% include 'products/partials/_product-ratings.html' with ratingsCount="hide" rating=review.rating %}
  </div>
</header>

<main class="product-reviews-main">
  <section class="product-reviews">
    {% if reviews %}
      {% for review in reviews %}
        <div class="product-reviews__review">
          <div class="product-reviews__review__section" for="title-ratings">
            <div class="product-reviews__review__rating">
              {% include 'products/partials/_product-ratings.html' with ratingsCount="hide" rating=review.rating %}
            </div>
            <!-- Review Title -->
            {% if review.review_title %}
              <h3 class="product-reviews__review__title">
                {{ review.review_title }}
              </h3>
            {% endif %}
          </div>
          <!-- Review Date -->
          <p class="product-reviews__review__date">
            {{ review.review_date }}
          </p>
          <!-- Review Comments -->
          {% if review.comments %}
            <p class="product-reviews__review__comments">
              {{ review.comments }}
            </p>
          {% endif %}
            <!-- Review User -->
          <p class="product-reviews__review__user">
            {{ otherReview.user.first_name }}
          </p>
        </div>
      {% endfor %}
    {% else %}
      <p class="product-reviews__review__none">
        No reviews for this product yet.
      </p>
    {% endif %}
  </section>
</main>

{% endblock %}

{% block footer %}

{% endblock %}
