{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% block title %} | {{ product.name }} {% endblock %}

{% block content %}

<main class="single-product">
  <section class="product-showcase">
    <div class="product-showcase__section product-showcase__section--lhs">
      <div class="product-showcase__section__img-container">
        <img
          class="product-showcase__section__img-container__img"
          src="{{ product.showcase_image }}"
          alt="Showcase image of {{ product.name }}"
        />
        <div class="product-showcase__section__img-container__alt-colours">
            Alternative Colours
        </div>
      </div>
      <div class="product-showcase__section__thumbs img__thumbs">
          {% if product.image_1 %}
            <img
                class="img__thumbs__thumb"
                src="{{ product.image_1 }}"
                alt="Thumbnail of {{ product.name }}"
            >
          {% endif %}
          {% if product.image_2 %}
            <img
                class="img__thumbs__thumb"
                src="{{ product.image_2 }}"
                alt="Thumbnail of {{ product.name }}"
            >
          {% endif %}
          {% if product.image_3 %}
            <img
                class="img__thumbs__thumb" 
                src="{{ product.image_3 }}"
                alt="Thumbnail of {{ product.name }}"
            >
          {% endif %}
          {% if product.image_4 %}
            <img
                class="img__thumbs__thumb" 
                src="{{ product.image_4 }}"
                alt="Thumbnail of {{ product.name }}"
            >
          {% endif %}
          {% if product.image_5 %}
            <img
                class="img__thumbs__thumb"
                src="{{ product.image_5 }}"
                alt="Thumbnail of {{ product.name }}"
            >
          {% endif %}
          {% if product.image_6 %}
            <img
                class="img__thumbs__thumb"
                src="{{ product.image_6 }}"
                alt="Thumbnail of {{ product.name }}"
            >
          {% endif %}
      </div>
    </div>
    <div class="product-showcase__section product-showcase__section--rhs">
        <h1 class="product-showcase__section__name">{{ product.name }}</h1>
        <h2 class="product-showcase__section__price">&pound;{{ product.price|floatformat:2|intcomma }}</h2>
        <h2 class="product-showcase__section__category">{{ product.category.name }}</h2>
        <div class="product-showcase__section__ratings">
            <div class="product-showcase__section__ratings__stars">
                rating stars
            </div>
            <p class="product-showcase__section__ratings__reviews">{{ product.ratings }} Reviews</p>
        </div>
        <div class="product-showcase__section__quantity">
            Quantity
        </div>
        <div class="product-showcase__section__delivery-opts">
            delivery options
        </div>
        <button class="product-showcase__section__basket-add">Add to Basket</button>

        
    </div>
  </section>
</main>

{% endblock %}

{% block footer %}
{% endblock %}
