{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% block title %} | Search {% endblock %}

{% block content %}

{% if userValues.search %}
    <header class="search-summary">
        <div class="search-summary__text">
            <p class="search-summary__text__num-results">{{ products|length }} results found for:</p>
            <h2 class="search-summary__text__search-str heading-2">&quot;{{ userValues.search }}&quot;</h2>
        </div>
    </header>
{% endif %}

<main class="search-main-content">
    <section class="section-filters">
        <form action="{% url 'search' %}" class="search-filters" method="GET">
            <!-- Min Price -->
            <div class="search-filters__group">
                <div class="search-filters__group__item dropdown-menu">
                    <div class="dropdown-menu__selected">
                        <span>Min Price</span>
                    </div>
                    <div class="dropdown-menu__options dropdown-menu__options--hide">
                        {% for key, price in minPrice.items %}
                        <label
                            class="dropdown-menu__options__label"
                            for="min-price-{{ key }}"
                        >
                                {{ price }}
                        </label>
                        <input
                            class="dropdown-menu__options__radio-btn"
                            type="radio"
                            name="f-min-price"
                            id=min-price-{{ key }}
                            value="{{ key }}"
                        >
                        {% endfor %}
                    </div>
                </div>
            </div>
            <!-- Max Price -->
            <div class="search-filters__group">
                <div class="search-filters__group__item dropdown-menu">
                    <div class="dropdown-menu__selected">
                        <span>Max Price</span>
                    </div>
                    <div class="dropdown-menu__options dropdown-menu__options--hide">
                        {% for key, price in maxPrice.items %}
                        <label
                            class="dropdown-menu__options__label"
                            for="max-price-{{ key }}"
                        >
                                {{ price }}
                        </label>
                        <input
                            class="dropdown-menu__options__radio-btn"
                            type="radio"
                            name="f-max-price"
                            id=max-price-{{ key }}
                            value="{{ key }}"
                        >
                        {% endfor %}
                    </div>
                </div>
            </div>
            <!-- Categories Group-->
            <div class="search-filters__group">
                <div class="search-filters__item dropdown-menu">
                    <div class="dropdown-menu__selected">
                        <span>Category</span>
                    </div>
                    <div class="dropdown-menu__options dropdown-menu__options--hide">
                        {% for category in categories %}
                        <label
                            class="dropdown-menu__options__label"
                            for="category-{{ category.cat_id }}"
                        >
                                {{ category }}
                        </label>
                        <input
                            class="dropdown-menu__options__radio-btn"
                            type="radio"
                            name="f-category"
                            id=category-{{ category.cat_id }}
                            value="{{ category }}"
                        >
                        {% endfor %}
                    </div>
                </div>
            </div>
            <!-- Colour Group -->
            <div class="search-filters__group">
                <div class="search-filters__item dropdown-menu">
                    <div class="dropdown-menu__selected">
                        <span>Colour</span>
                    </div>
                    <div class="dropdown-menu__options dropdown-menu__options--hide">
                        {% for colourFamily in colourFamilies %}
                            <label
                                class="dropdown-menu__options__label"
                                for="colour-{{ colourFamily }}"
                            >
                                    {{ colourFamily }}
                            </label>
                            <input
                                class="dropdown-menu__options__radio-btn"
                                type="radio"
                                name="f-colour"
                                id=colour-{{ colourFamily }}
                                value="{{ colourFamily }}"
                            >
                        {% endfor %}
                    </div>
                </div>
            </div>
            <!-- Search Query Copy -->
            <input type="hidden" name="search" id="search-copy">
            <!-- Submit -->
            <button type="submit" class="search-filters__submit-btn" id="filters-submit">Apply Filters</button>
        </form> 
    </section>
    <section class="search-results">
        
    </section>

    <section class="results">
        <div class="products">
            {% if products %}
                {% for product in products %}
                <div
                    class="product"
                    id={{ product.product_id }}
                    price={{ product.price }}
                    category={{ product.category_id }}
                >
                    <div class="product__img">
                        <img src="{{ product.showcase_image }}" alt="Showcase image for {{ product.name }}">
                    </div>
                </div>
                
                {% endfor %}

            {% endif %}
        </div>
        
    </section>

</main>

{% endblock %}


{% block footer %}

<script src="/static/js/components/dropdown-menu.js"></script>

{% endblock %}