{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% block title %} | Search {% endblock %}

{% block content %}

{% if userValues.search %}
    <header class="search-summary">
        <div class="search-summary__text">
            <p class="search-summary__text__num-results">{{ products|length }} results found for:</p>
            <h2 class="search-summary__text__search-str heading-2">&quot;{{ userValues.search }}&quot;</h2>
        </div>
    </header>
{% endif %}

<main class="search-main-content">
    <section class="search-filters">
        <form action="{% url 'search' %}" method="GET">
            <!-- Prices Group-->
            <div class="search-filters__group">
                <!-- Min Price -->
                <div class="search-filters__group__item">
                    <label class="search-filters__label" for="min-price">Min Price</label>
                    <select class="search-filters__options" name="minPrice" id="min-price">
                        <option class="search-filters__options__item" value="-99" selected="true" disabled="disabled">Min Price</option>
                        {% for key, price in minPrice.items %}
                            <option
                                class="search-filters__options__item"
                                value= "{{ key }}"
                                {% if key == userValues.minPrice %}
                                    selected
                                {% endif %}
                            >
                                    {{ price }}
                            </option>
                        {% endfor %}
                    </select>
                </div>
                <!-- Max Price -->
                <div class="search-filters__group__item">
                    <label class="search-filters__label" for="max-price">Max Price</label>
                    <select class="search-filters__options" name="maxPrice" id="max-price">
                        <option class="search-filters__options__item" value="-99" selected="selected" disabled="disabled">Max Price</option>
                        {% for key, price in maxPrice.items %}
                            <option
                                class="search-filters__options__item"
                                value="{{ price }}"
                                {% if key == userValues.maxPrice %}
                                    selected
                                {% endif %}
                            >
                                    {{ price }}
                            </option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <!-- Categories Group-->
            <div class="search-filters__group">
                <div class="select-box">
                    <div class="select-box__current" tabindex="1">
                        {% for category in colourFamilies %}
                            <div class="select-box__value">
                                <input
                                    type="radio"
                                    class="select-box__input"
                                    id="{{ category.cat_id }}"
                                    name="colour"
                                    checked="checked"
                                >
                                <p class="select-box__input-text">{{ category }}</p>
                            </div>
                        {% endfor %}
                        <img
                            class="select-box__icon"
                            src="http://cdn.onlinewebfonts.com/svg/img_295694.svg"
                            alt="Arrow Icon"
                            aria-hidden="true"
                        >
                    </div>
                    <ul class="select-box__list">
                        {% for category in colourFamilies %}
                            <li>
                                <label
                                    for="{{ category }}"
                                    class="select-box__option"
                                    aria-hidden="aria-hidden"
                                >{{ category }}
                                </label>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <!-- Colour Group -->
            <div class="search-filters__group">
                <div class="select-box">
                    <div class="select-box__current" tabindex="1">
                        {% for colourFamily in colourFamilies %}
                            <div class="select-box__value">
                                <input
                                    type="radio"
                                    class="select-box__input"
                                    id="{{ colourFamily }}"
                                    name="colour"
                                    checked="checked"
                                >
                                <p class="select-box__input-text">{{ colourFamily }}</p>
                            </div>
                        {% endfor %}
                        <img
                            class="select-box__icon"
                            src="http://cdn.onlinewebfonts.com/svg/img_295694.svg"
                            alt="Arrow Icon"
                            aria-hidden="true"
                        >
                    </div>
                    <ul class="select-box__list">
                        {% for colourFamily in colourFamilies %}
                            <li>
                                <label
                                    for="{{ colourFamily }}"
                                    class="select-box__option"
                                    aria-hidden="aria-hidden"
                                >{{ colourFamily }}
                                </label>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <!-- Search Query Copy -->
            <input type="hidden" name="search" id="search-copy">
            <!-- Submit -->
            <button type="submit" class="search-filters__submit-btn" id="filters-submit">Apply Filters</button>
        </form> 
    </section>
    <section class="search-results">
        
    </section>

    <section class="results">
        <div class="products">
            {% if products %}
                {% for product in products %}
                <div
                    class="product"
                    id={{ product.product_id }}
                    price={{ product.price }}
                    category={{ product.category_id }}
                >
                    <div class="product__img">
                        <img src="{{ product.showcase_image }}" alt="Showcase image for {{ product.name }}">
                    </div>
                </div>
                
                {% endfor %}

            {% endif %}
        </div>
        
    </section>
    

</main>



{% endblock %}

<!-- <script>
    xhr = new XMLHttpRequest();
    xhr.open("GET", "{% url 'search_results' %'}");
    xhr.onload = function() {
        if (xhr.status = 200) {
            alert(xhr.responseText);
        } else {
            alert("req failed" + xhr.status);
        }
    };
    xhr.send();
</script> -->

{% block footer %}

{% endblock %}