// =============================================================================
// Date Created:   20/11/2019
// Created By:     Salaah Amin
// =============================================================================
// Contains the styling for the navigation on the page.
//
// Navigation has the main div class "nav" with three children classes
// "nav__section" which represent the left side, middle and right side of the
// navigation bar.
//
// EMMET CODE: nav.nav>nav__section*3
//
// LHS of the navigation (first .nav__section) contains a tags which are drop
// downs revealing additional options.
//
// Middle of the navigation is the search bar.
//
// RHS of the navigation is the accounts/basket options.
//
// RESPONSIVENESS
// --------------
// 900px - Search bar moves to bottom
// 600px - Navbar collapses
// =============================================================================

// =============================================================================
// Navigation top level class
.nav {
  width: 100vw;
  height: 7rem;
  background-color: $colour-white-1;
  display: flex;
  align-items: center;
  justify-content: space-around;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.1);

  &__icon {
    padding-left: 1rem;

    @include mediaQuery(1360) {
      display: none;
    }

    @include mediaQuery(600) {
      padding-left: 0;
      margin-right: 1rem;
      display: inline-block;
    }
  }

  @include mediaQuery(900) {
    // This allows the search bar to be set a flex of 0 0 100% with
    // order 1 enabling it to move to a new line.
    flex-wrap: wrap;
  }

  @include mediaQuery(600) {
    height: auto;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: flex-start;
    padding: 2rem 3rem;
    border-bottom: 2px solid $colour-grey-light-3;
  }

  // -----------------------------------------------------------------------------
  // Navigation Toggle
  // Up until 600px, the button will hidden as the full navbar will be shown
  // At 600px, the navbar will be collapsed and this is when the button and
  // corresponding elements will be visible.
  //
  // The basic mechanism of the toggle button is such that a label is used to
  // select a checkbox which in turn will expand the navigation.
  // The checkbox will be hidden as only the label will control the selection.
  &__toggle {
    display: none;

    @include mediaQuery(600) {
      display: inline-block;
    }

    &__checkbox {
      display: none;
    }

    &__btn {
      background-color: $colour-white-1;
      height: auto;
      width: 8rem;
      position: absolute;
      top: 0.5rem;
      right: 1rem;
      z-index: 2000;
      text-align: center;
      cursor: pointer;
    }

    &__icon {
      position: relative;
      margin-top: 3.5rem;
      &,
      &::before,
      &::after {
        width: 3rem;
        height: 2px;
        background-color: $colour-grey-dark-1;
        display: inline-block;
      }

      &::before,
      &::after {
        content: "";
        position: absolute;
        left: 0;
        transition: all 0.2s;
      }

      &::before {
        top: -0.8rem;
      }
      &::after {
        top: 0.8rem;
      }
    }

    &__btn:hover &__icon::before {
      top: -1rem;
    }

    &__btn:hover &__icon::after {
      top: 1rem;
    }

    &__checkbox:checked + &__btn &__icon {
      background-color: transparent;
    }

    &__checkbox:checked + &__btn &__icon::before {
      transform: rotate(135deg);
      top: 0;
    }

    &__checkbox:checked + &__btn &__icon::after {
      transform: rotate(-135deg);
      top: 0;
    }
  }

  // -----------------------------------------------------------------------------
  // Represents each of the navigation sections which are split into LHS,
  // middle and right
  &__section {
    display: flex;
    align-items: center;

    @include mediaQuery(600) {
      flex-direction: column;
    }
  }

  // =============================================================================
  // Logo
  &__logo {
    width: 10rem;
    margin: 1.5rem 2.5rem;
    transition: filter 0.5s ease;

    &:hover {
      filter: brightness(1.1);
    }

    @include mediaQuery(600) {
      margin: 0;
    }
  }

  // =============================================================================
  // Left Hand Side of the Navigation.
  // Contains options with a drop down on active.
  #nav-left {
    align-items: center;

    @include mediaQuery(1100) {
      justify-content: space-evenly;
    }

    @include mediaQuery(900) {
      flex: 0 0 50%;
      justify-content: space-around;
    }

    @include mediaQuery(600) {
      flex: 0 0 50%;
      align-items: flex-start;
      width: 100%;
    }
  }
  &__option {
    // The left hand side of the navigation. div.nav__option is a element
    // which contains a button (button.nav__option__btn) which when pressed
    // opens a drop down containing additional options to choose from
    // (div.nav__option__opts)
    display: flex;
    flex-direction: column;
    font-size: 1.6rem;
    align-items: center;
    position: relative;
    transition: all 0.3s ease;

    @include mediaQuery(600) {
      display: none;
      transition: all 10s ease;
    }

    &__btn {
      padding: 1rem 2rem;

      &:hover {
        color: $colour-primary;
        border-bottom: 1px solid $colour-primary;
      }

      @include mediaQuery(1100) {
        padding: 1rem;
      }

      @include mediaQuery(900) {
        padding: 1rem 0;
      }

      @include mediaQuery(600) {
        display: flex;
        flex-direction: row-reverse;
      }
    }

    &:not(:last-child) {
      margin-right: 1rem;
    }

    &__dropdown-opts {
      // Navigation drop down options
      display: flex;
      flex-direction: column;
      position: absolute;
      top: 100%;
      left: 20%;
      width: max-content;
      background-color: rgba($colour-grey-dark-1, 0.88);
      text-align: center;
      z-index: 10;
      transition: all 0.2s;

      &--expand {
        // Expands sub-menu options
        height: auto;
        opacity: 100%;
      }

      &--collapse {
        // Closes sub-menu options
        height: 0;
        opacity: 0;
        padding: 0;

        .nav__option__dropdown-opts__opt,
        .nav__option__dropdown-opts__opt:link,
        .nav__option__dropdown-opts__opt:visited {
          height: 0;
          padding: 0;
          margin: 0;

          &:not(:last-child) {
            margin: 0;
          }
        }
      }

      &__opt:link,
      &__opt:visited {
        text-decoration: none;
        color: $colour-white-1;
        font-weight: 300;
        padding: 1.5rem 3rem;
        width: 100%;

        &:not(:last-child) {
          margin-bottom: 1rem;
        }
      }

      &__opt:hover {
        background-color: rgba($colour-grey-dark-1, 0.95);
      }

      &__opt:active {
        background-color: rgba($colour-grey-dark-1, 0.98);
        transform: translateY(-0.1rem);
      }
    }
  }

  // -----------------------------------------------------------------------------
  // Search bar
  #nav-mid {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 0 0 40%;
    text-align: center;

    @include mediaQuery(1100) {
      flex: 0 0 35%;
    }

    @include mediaQuery(900) {
      // Shifts the search bar to the end, and put it on a new line
      // as .nav has flex-wrap = true at this breakpoint.
      order: 1;
      flex: 0 0 100%;
      margin-top: 0.75rem;
    }

    @include mediaQuery(600) {
      // width = calc(100% + nav padding left + nav padding right)
      width: calc(100% + 6rem);
      // margin-left = nav padding left
      margin-left: -3rem;
      // margin-bottom = nav padding bottom
      margin-bottom: -2rem;
    }
  }
  &__search {
    // Main Container
    width: 100%;
    position: relative;

    &__input {
      font-family: inherit;
      font-size: inherit;
      color: inherit;
      background-color: $colour-grey-light-1;
      border: none;
      padding: 0.7rem 2rem;
      border-radius: 100px;
      width: 90%;
      transition: all 0.2s;
      margin-right: -3.5rem;
      transition: all 0.2s;

      @include mediaQuery(1450) {
        width: 95%;
      }

      @include mediaQuery(1100) {
        width: 100%;
        margin-right: 0;
        justify-content: space-between;
      }

      @include mediaQuery(900) {
        border-radius: 0;
      }

      &:focus {
        outline: none;
        width: 100%;
        color: $colour-grey-dark-1;
        background-color: $colour-grey-light-2;
      }
    }

    &__btn {
      outline: none;
      border: none;
      background: transparent;
      color: $colour-grey-dark-1;
      font-weight: 300;

      @include mediaQuery(1100) {
        position: absolute;
        top: 50%;
        right: 2.5%;
        transform: translateY(-50%);
      }
    }

    &__icon {
      padding-left: 0.25rem;

      @include mediaQuery(1220) {
        display: none;
      }

      @include mediaQuery(600);
    }
  }

  // -------------------------------------------------------------------------
  // The Accounts and Basket Section of the Navigation
  #nav-right {
    display: flex;
    justify-content: space-evenly;
    transition: all 0.3s ease;

    @include mediaQuery(900) {
      flex: 0 0 50%;
    }
  }

  &__account-basket {
    @include mediaQuery(900) {
      display: flex;
      justify-content: space-evenly;
      width: 100%;
      text-transform: uppercase;

      &__opt {
        display: flex;
        flex-direction: row-reverse;
        justify-content: flex-end;
      }
    }

    @include mediaQuery(600) {
      flex-direction: column;
      display: none;
    }

    &__opt {
      // Styling is similar to btn-inline in base/base.
      padding: 1rem 2rem;

      @include mediaQuery(1100) {
        padding: 1rem;
      }

      @include mediaQuery(900) {
        padding: 1rem 0;
      }

      font-family: inherit;
      font-weight: inherit;
      text-decoration: none;

      &:link,
      &:visited {
        color: currentColor;
        transition: all 0.2s;
        border-bottom: 1px solid transparent;
      }

      &:hover {
        color: $colour-primary;
        border-bottom: 1px solid $colour-primary;
      }
    }
  }
}

.nav-option {
  &--show {
    display: inherit;
  }
}
